{{!
    This file is part of MuTMS suite of plugins for Moodle™ LMS.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template tool_mulib/muform/element/filemanager

    File manager element, core's file manager widget above a hidden draft item id.

    Context variables required for this template:
    * see tool_mulib/muform/element/wrapper
    * value - draft item id
    * filemanagerhtml - core file manager widget html, trusted renderer output
    * has_filetypes - true if accepted types are restricted
    * filetypeshtml - accepted file types description html, trusted renderer output
    * files - list of files with name and url, frozen elements only

    Example context (json):
    {
        "name": "attachments", "id": "id_attachments", "errorid": "id_error_attachments",
        "label": "Attachments", "nolabelfor": true, "is_required": false, "attr_required": false, "attributes": [],
        "helpbuttonhtml": "", "is_frozen": false, "is_hidden": false, "is_disabled": false,
        "has_errors": false, "errors": [], "requiredhint": "Required", "invalidhint": "Error",
        "value": "123456", "filemanagerhtml": "<div class=\"filemanager\"></div>", "has_filetypes": false, "filetypeshtml": "",
        "files": []
    }
}}
{{< tool_mulib/muform/element/wrapper }}
    {{$control}}
        {{#is_frozen}}
        <ul class="list-unstyled mb-0" id="{{id}}">
            {{#files}}<li><a href="{{url}}">{{name}}</a></li>{{/files}}
            {{^files}}<li class="text-muted">{{#str}}muform_nofiles, tool_mulib{{/str}}</li>{{/files}}
        </ul>
        {{/is_frozen}}
        {{^is_frozen}}
        <div class="muform-filemanager w-100" data-muform-filemanager>{{{filemanagerhtml}}}</div>
        <input type="hidden" id="{{id}}" name="{{name}}" value="{{value}}"{{#is_disabled}} disabled{{/is_disabled}}>
        {{#has_filetypes}}<div class="form-text w-100 mt-1">{{#str}}filesofthesetypes, core_form{{/str}}</div>{{{filetypeshtml}}}{{/has_filetypes}}
        {{/is_frozen}}
    {{/control}}
{{/ tool_mulib/muform/element/wrapper }}
