{{!
    This file is part of MuTMS suite of plugins for Moodle™ LMS.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template tool_mulib/muform/element/info

    Formatted text display.

    Context variables required for this template:
    * see tool_mulib/muform/element/wrapper
    * contenthtml - formatted and sanitised text

    Example context (json):
    {
        "name": "created", "type": "info", "component": "tool_mulib", "id": "id_created", "errorid": "id_error_created",
        "label": "Created", "nolabelfor": true, "is_required": false, "attr_required": false,
        "helpbuttonhtml": "", "is_frozen": false, "is_hidden": false, "is_disabled": false,
        "has_errors": false, "errors": [], "requiredhint": "Required", "invalidhint": "Error",
        "contenthtml": "<div class=\"text_to_html\">Yesterday</div>"
    }
}}
{{< tool_mulib/muform/element/wrapper }}
    {{$control}}
        <div class="form-control-plaintext text-break" id="{{id}}">{{{contenthtml}}}</div>
    {{/control}}
{{/ tool_mulib/muform/element/wrapper }}
