{{!
    This file is part of MuTMS suite of plugins for Moodle™ LMS.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template tool_mulib/muform/element/tags

    Tags element, a text input holding comma separated tag names that the tag field island
    replaces when JavaScript runs.

    Context variables required for this template:
    * see tool_mulib/muform/element/wrapper
    * attr_required - true if value is validated as required
    * attributes - list of html attributes with name and value
    * enabled - true if tagging is enabled in the area
    * url - suggestion endpoint url
    * areajson - JSON with tag area class and constructor args
    * suggest - true if standard tags are suggested
    * standardonly - true if only standard tags may be used
    * manageurl - url of the standard tags management page, null when the user cannot manage tags
    * selected - list of current tags with name and error
    * has_selected - true if any tag is entered
    * selectedjson - JSON of current tags for the island
    * names - comma separated tag names

    Example context (json):
    {
        "name": "tags", "id": "id_tags", "errorid": "id_error_tags",
        "label": "Tags", "is_required": false, "attr_required": false, "attributes": [],
        "helpbuttonhtml": "", "is_frozen": false, "is_hidden": false, "is_disabled": false,
        "has_errors": false, "errors": [], "requiredhint": "Required", "invalidhint": "Error",
        "enabled": true, "url": "https://example.com/r.php/api/rest/v2/tool_mulib/muform/tags",
        "areajson": "{\"class\":\"tool_mulib\\\\muform\\\\tagarea\\\\course\",\"args\":[2]}",
        "suggest": true, "standardonly": false, "manageurl": "https://example.com/tag/manage.php?tc=1",
        "selected": [{"name": "Science", "error": null}], "has_selected": true,
        "selectedjson": "[{\"name\":\"Science\",\"error\":null}]", "names": "Science"
    }
}}
{{< tool_mulib/muform/element/wrapper }}
    {{$control}}
        {{#enabled}}
        {{#is_frozen}}
        <ul class="list-inline mb-0" id="{{id}}">
            {{#selected}}<li class="list-inline-item badge bg-secondary-subtle text-body fw-normal">{{name}}</li>{{/selected}}
            {{^has_selected}}<li class="text-muted">{{#str}}muform_notset, tool_mulib{{/str}}</li>{{/has_selected}}
        </ul>
        {{/is_frozen}}
        {{^is_frozen}}
        <div class="d-flex align-items-center gap-2 w-100">
        <div class="muform-tags flex-grow-1" data-muform-tags data-muform-tags-url="{{url}}" data-muform-tags-area="{{areajson}}" data-muform-tags-selected="{{selectedjson}}"{{#suggest}} data-muform-tags-suggest="1"{{/suggest}}{{#standardonly}} data-muform-tags-standardonly="1"{{/standardonly}}>
            <input type="text" class="form-control{{#has_errors}} is-invalid{{/has_errors}}" id="{{id}}" name="{{name}}" value="{{names}}" autocomplete="off" aria-describedby="{{errorid}}"{{#attr_required}} required{{/attr_required}}{{#is_required}} aria-required="true"{{/is_required}}{{#has_errors}} aria-invalid="true"{{/has_errors}}{{#is_disabled}} disabled{{/is_disabled}}{{#attributes}} {{name}}="{{value}}"{{/attributes}}>
        </div>
        {{#manageurl}}
        <a href="{{manageurl}}" class="muform-tags-manage" target="_blank" title="{{#str}}managestandardtags, tag{{/str}}">{{#pix}}i/settings, core, {{#str}}managestandardtags, tag{{/str}}{{/pix}}</a>
        {{/manageurl}}
        </div>
        {{/is_frozen}}
        {{/enabled}}
    {{/control}}
{{/ tool_mulib/muform/element/wrapper }}
